doctype html
html
  head
    title= title
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, user-scalable=no")
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/font-awesome.min.css')
    link(rel='stylesheet', href='/css/animate.min.css')
    link(rel='stylesheet', href='/css/bootstrap-rtl.min.css')
    link(rel='stylesheet', href="/css/bootstrap-toggle.min.css")
    
    block contentStyle
      link(rel='stylesheet', href='/css/navbarStyle.css')
      link(rel='stylesheet', href='/css/cPanelStyle.css')
    block authenticationStyle
      link(rel='stylesheet', href='/css/authenticationStyle.css')
    block errorStyle
      link(rel='stylesheet', href='/css/errorStyle.css')
    link(rel='stylesheet', href='/css/bootstrap-select.min.css')
    link(rel='stylesheet', href='/css/bootstrap-datetimepicker.min.css')
    link(rel='stylesheet', href='/css/jquery-ui.min.css')
    link(rel='stylesheet', href='/css/fullcalendar.min.css')
    link(rel='stylesheet', href='/css/fullcalendar.print.css', media='print')
    link(rel='stylesheet', href='/css/customStyle.css')

  body.animated.fadeIn
    block navBar
      .container-fulid.font
        nav.navbar.navbar-default(role="navigation")
          // Brand and toggle get grouped for better mobile display
          .navbar-header
            button.navbar-toggle(type="button", data-toggle="collapse", data-target="#navbar-collapse-xs")
              span.sr-only Toggle navigation
              span.icon-bar
              span.icon-bar
              span.icon-bar
            .navbar-brand
              span.text-muted وحدة التنظيم والملاكات
          // Collect the nav links, forms, and other content for toggling
          .collapse.navbar-collapse#navbar-collapse-xs
            ul.nav.navbar-nav
              li(class=activeCPanel)
                a(href="/cPanel")
                  span.glyphicon.glyphicon-home.text-primary
                  span.text-primary  لوحة التحكم
              li.dropdown(class=activeUser)
                a.dropdown-toggle(href="#", data-toggle="dropdown")
                  span.glyphicon.glyphicon-list-alt.text-info
                  span.text-info  المستخدمين
                  b.caret
                ul.dropdown-menu
                  li
                    a(href="#") عرض المستخدمين
                  li.divider
                  li
                    a(href="#") إضافة مستخدم جديد
              //- li.dropdown
              //-   a.dropdown-toggle(href="#", data-toggle="dropdown")
              //-     span.glyphicon.glyphicon-search.text-warning
              //-     span.text-warning  بحث
              //-     b.caret
              //-   ul.dropdown-menu(style="min-width: 275px;")
              //-     li
              //-       .row
              //-         .col-md-12
              //-           form.navbar-form.navbar-left(role="search")
              //-             .input-group
              //-               input.form-control(type="text", placeholder="بحث")
              //-               span.input-group-btn
              //-                 button.btn.btn-primary(type="submit")
              //-                   | بحث!
            .col-md-4
              .navbar-brand
                span.text-muted أدارة شــئون العــاملين والخدمــات
            ul.nav.navbar-nav.navbar-right
              li.dropdown
                a.dropdown-toggle(href="#", data-toggle="dropdown")
                  span.glyphicon.glyphicon-user.text-info
                  span.text-info  #{name}
                  b.caret
                ul.dropdown-menu
                  //- li
                  //-   a(href="#",data-title="Edit", data-toggle="modal", data-target="#UserLoggedIn")
                  //-     span.glyphicon.glyphicon-cog.text-primary
                  //-     span.text-info  تعديل الملف الشخصي
                  //- li.divider
                  li
                    a(href="/logout")
                      span.glyphicon.glyphicon-off.text-primary
                      span.text-info  خروج
          // /.navbar-collapse
      //- #UserLoggedIn.modal.fade.font(tabindex="-1", role="dialog", aria-labelledby="edit", aria-hidden="true")
        .modal-dialog
          .modal-content
            form.form#editeUserLoggedIn(role="form",name='editeUserLoggedIn')
              .modal-header
                button.close(type="button", data-dismiss="modal", aria-hidden="true")
                  span.glyphicon.glyphicon-remove(aria-hidden="true")
                h4#Heading.modal-title.custom_align تعديل الملف الشخصي
              .modal-body
                .form-group
                  .row
                    .col-xs-6.col-md-6
                      label.h4 اسم المستخدم
                      input.form-control#userName(type="text", name="userName", placeholder="اﻷسم")
                    .col-xs-6.col-md-6
                      label.h4 رقم الهاتف
                      input.form-control#phoneLoggedIn(type="text", name="phoneLoggedIn", placeholder="رقم الهاتف")          
                  br
                  .row
                    .col-xs-6.col-md-6.col-md-offset-3
                      label.h4 كلمة المرور الحالية
                      input.form-control#password(type="password", name="password", placeholder="كلمة المرور الحالية")
                  br
                  .row
                    .col-xs-6.col-md-6
                      label.h4 كلمة المرور الجديدة
                      input.form-control#newPassword(type="password", name="newPassword", placeholder="الرقم السري")
                    .col-xs-6.col-md-6
                      label.h4 تأكيد كلمة المرور الجديدة
                      input.form-control#newConfirmPassword(type="password", name="newConfirmPassword", placeholder="تأكيد الرقم السري")
              .modal-footer
                button.btn.btn-warning.btn-lg(type="submit", style="width: 100%;")
                  span.glyphicon.glyphicon-ok-sign
                  span  تعديل
    block navcPanel
      .container.font
        .row
          .col-xs-12.col-md-2
            #accordion.panel-group
              .panel.panel-default
                .panel-heading.font
                  h4.panel-title
                    a(data-toggle="collapse", data-parent="#accordion", href="#collapseOne")
                      span.fa.fa-user-plus
                      span(style="font-size:15px;")  تعيين جــديد
                #collapseOne.panel-collapse.collapse(class=collapseOne)
                  .panel-body#panel-body
                    table.table
                      tr
                        td(class=activeOneOne)
                          a(href="#").font  أضافة مستخدم
                          
                      tr
                        td(class=activeOneTwo)
                          a(href="#").font  عرض التعيينات
              .panel.panel-default
                .panel-heading.font
                  h4.panel-title
                    a(data-toggle="collapse", data-parent="#accordion", href="#collapseTwo")
                      span.fa.fa-user-times
                      span  أنهاء خدمة
                #collapseTwo.panel-collapse.collapse(class=collapseTwo)
                  .panel-body#panel-body
                    table.table
                      tr
                        td(class=activeTwoOne)
                          a(href="#").font  أنهاء خدمة مستخدم    
                      tr
                        td(class=activeTwoTwo)
                          a(href="#").font  عرض حالة الانهاء
              .panel.panel-default
                .panel-heading.font
                  h4.panel-title
                    a(data-toggle="collapse", data-parent="#accordion", href="#collapseThree")
                      span.fa.fa-user
                      span  عرض مستخدم
                #collapseThree.panel-collapse.collapse(class=collapseThree)
                  .panel-body#panel-body
                    table.table
                      tr
                        td(class=activeThreeOne)
                          a(href="#").font  عرض
              .panel.panel-default
                .panel-heading.font
                  h4.panel-title
                    a(data-toggle="collapse", data-parent="#accordion", href="#collapseFour")
                      span.fa.fa-exchange
                      span(style="font-size:14.7px;")  نقل مستخدم
                #collapseFour.panel-collapse.collapse(class=collapseFour)
                  .panel-body#panel-body
                    table.table
                      tr
                        td(class=activeFourOne)
                          a(href="#")  نقل
                      tr
                        td(class=activeFourTwo)
                          a(href="#")  عرض حالات النقل
              .panel.panel-default.font
                .panel-heading
                  h4.panel-title
                    a(data-toggle="collapse", data-parent="#accordion", href="#collapseFive")
                      span.fa.fa-clone
                      span(style="font-size:14.9px;")  الخدمة السابقة
                #collapseFive.panel-collapse.collapse(class=collapseFive)
                  .panel-body#panel-body
                    table.table
                      tr
                        td(class=activeFiveOne)
                          a(href="#")  عرض ملف الخبرة  
              .panel.panel-default.font
                .panel-heading
                  h4.panel-title
                    a(data-toggle="collapse", data-parent="#accordion", href="#collapseSix")
                      span.fa.fa-folder-o
                      span  الدورات التدربية
                #collapseSix.panel-collapse.collapse(class=collapseSix)
                  .panel-body#panel-body
                    table.table
                      tr
                        td(class=activeSixOne)
                          a(href="#")  عرض الدورات 
              .panel.panel-default.font
                .panel-heading
                  h4.panel-title
                    a(data-toggle="collapse", data-parent="#accordion", href="#collapseSeven")
                      span.fa.fa-list-alt
                      |  الادلة
                #collapseSeven.panel-collapse.collapse(class=collapseSeven)
                  .panel-body#panel-body
                    table.table
                      tr
                        td(class=activeSevenOne)
                          a(href="/Directors")  الادارات
                      tr
                        td(class=activeSeventwo)
                          a(href="/Company")  الشركات
                      tr
                        td(class=activeSeventhree)
                          a(href="/OrganizationalUnits")  الوحدات التنظمية
                      tr
                        td(class=activeSevenfour)
                          a(href="/Countries")  الجنسيات
                      tr
                        td(class=activeSevenfive)
                          a(href="/Cities")  المنطقة
                      tr
                        td(class=activeSevensix)
                          a(href="/Jobs")  الوظائف               
                      tr
                        td(class=activeSevenseven)
                          a(href="/Qualification")  المؤهلات العلمية
                      tr
                        td(class=activeSeveneight)
                          a(href="/QualifiedType")  نوع المؤهل  
                      tr
                        td(class=activeSevennine)
                          a(href="/Specialty")  التخصص
                      tr
                        td(class=activeSeventen)
                          a(href="/JobStatus")  حالة الوظيفة
                      tr
                        td(class=activeSeveneleven)
                          a(href="/Jobposition")  الوضع الوظيفي
                      tr
                        td(class=activeSeventwelve)
                          a(href="/LevelJob")  مستوى الوظيفة
                      tr
                        td(class=activeSeventhirtyone)
                          a(href="/WorkSite")  موقع العمل
                      tr
                        td(class=activeSevenfourtyone)
                          a(href="/MilitaryType")  الوضع العسكري                      
              .panel.panel-default.font
                .panel-heading
                  h4.panel-title
                    a(data-toggle="collapse", data-parent="#accordion", href="#collapseEight")
                      span.fa.fa-pie-chart
                      |  الاحصائيات
                #collapseEight.panel-collapse.collapse(class=collapseEight)
                  .panel-body#panel-body
                    table.table
                      tr
                        td(class=activeEightOne)
                          a(href="#")  عدد المستخدمين
                      tr
                        td(class=activeEightTwo)
                          a(href="#")  التعيينات
                      tr
                        td(class=activeEightThree)
                          a(href="#")  انهاء الخدمة
             
              .panel.panel-default.font
                .panel-heading
                  h4.panel-title
                    a(data-toggle="collapse", data-parent="#accordion", href="#collapseEight")
                      span.glyphicon.glyphicon-file
                      |  التقارير
                #collapsenine.panel-collapse.collapse(class=collapsenine)
                  .panel-body#panel-body
                    table.table
                      tr
                        td(class=activenineOne)
                          a(href="#")  مستخدمين حسب الادارة
                      tr
                        td(class=activenineTwo)
                          a(href="#")  مستخدمين حسب الجنسية
                      tr
                        td(class=activenineThree)
                          a(href="#")  مستخدمين حسب الوظيفة      
          block content
    block footer
      footer.footer.font
        .container
          .text-muted
            a(href='http://naga.ly', target='_blank')
              p.text-muted جميع الحقوق محفوظة لشركة ناقة للحلول التقنية 2016 ©