extends layout
block authenticationStyle
block errorStyle
block content
  .container
    .row
      .col-md-10
        .btn-group.btn-breadcrumb
          a.btn.btn-default(href="/cPanel")
            i.glyphicon.glyphicon-home
          .btn.btn-default.active عرض الوضع العسكري
        br
        br
        .panel.panel-default
          .panel-heading
            .row
              .pull-right(style="margin-right: 10px;")
                h3#h3.panel-title عرض الوضع العسكري
              .col-xs-7.col-md-7
                .input-group
                  input.form-control#militaryType_search(name = militaryType_search,type='text', placeholder='بحث...')
                  .input-group-btn
                    button.btn.btn-default
                      i.glyphicon.glyphicon-search
                        
              .pull-left(style="margin-left: 10px;")
                a.btn.btn-success(href='#', role='button',data-toggle='modal')
                  span.glyphicon.glyphicon-plus
                  span.text-none  إضافة وضع عسكري
          .table-responsive
            table#mytable.table.table-bordred.table-striped.text-right(border="0")
              thead
                th اﻷســـــم
                th(style="width:25%;")
                th.text-center تعديل
                th.text-center الغاء
              tbody#tbody
  //-               for Directors in dire
  //-                 tr(data-id = '#{Directors.id}',data-directors_name = '#{Directors.directors_name}')
  //-                   td #{Directors.directors_name}
  //-                   td
  //-                   td.text-center
  //-                     p(data-placement="top", data-toggle="tooltip", title="تعديل")
  //-                       button#Edit.btn.btn-primary.btn-xs.editDirectors(value='#{Directors.id}',data-title="Edit",data-nn="#{Directors.id}", data-toggle="modal", data-target="#edit")
  //-                         span.glyphicon.glyphicon-pencil
  //-                   td.text-center
  //-                     p(data-placement="top", data-toggle="tooltip", title="إلغاء")
  //-                       button#Delete.btn.btn-danger.btn-xs(value='#{Directors.id}',data-title="Delete", data-toggle="modal", data-target="#delete")
  //-                         span.glyphicon.glyphicon-trash
  //-       if pagination
  //-         .text-center
  //-           ul.pagination
  //-             li(class='#{pagination.previous.disabled}')
  //-               a(href='?p=#{pagination.previous.n.}') السابق
  //-             for page in pagination.pages
  //-               li(class="#{page.active}")
  //-                 a(href='?p=#{page.n}') #{page.n}
  //-             li(class="#{pagination.next.disabled}")
  //-               a(href='?p=#{pagination.next.n}') التالي
  //- #edit.modal.fade.font(tabindex="-1", role="dialog", aria-labelledby="edit", aria-hidden="true")
  //-   .modal-dialog
  //-     .modal-content
  //-       .modal-header
  //-         button.close(type="button", data-dismiss="modal", aria-hidden="true")
  //-           span.glyphicon.glyphicon-remove(aria-hidden="true")
  //-         h4#Heading.modal-title.custom_align تعديل ادارة
  //-       .modal-body 
  //-         form#formDirectors.form-signin(role="form",name='formDirectors')
  //-           .form-group
  //-             .row
  //-               .col-md-6.col-md-offset-3
  //-                 label.h4 اسم الادارة
  //-                 input#directors_name.form-control(type="text", placeholder="اسم الادارة", name="directors_name")
  //-                 input#id(name="id",type="hidden")
  //-       .modal-footer
  //-         button#save.btn.btn-warning.btn-lg(style="width: 100%;")
  //-           span.glyphicon.glyphicon-ok-sign
  //-           |  تعديل
  //-   // /.modal-content
  //- // /.modal-dialog
  //- #delete.modal.fade.font(tabindex="-1", role="dialog", aria-labelledby="edit", aria-hidden="true")
  //-   .modal-dialog
  //-     .modal-content
  //-       .modal-header
  //-         button.close(type="button", data-dismiss="modal", aria-hidden="true")
  //-           span.glyphicon.glyphicon-remove(aria-hidden="true")
  //-         h4#Heading.modal-title.custom_align إلغاء ادارة
  //-       .modal-body
  //-         .alert.alert-danger
  //-           span.glyphicon.glyphicon-warning-sign
  //-           |  هل انت متأكد من إلغاء هذه الادارة؟
  //-       .modal-footer
  //-         button#ok.btn.btn-success(type="button", data-dismiss="modal")
  //-           span.glyphicon.glyphicon-ok-sign
  //-           |  نعم
  //-         button.btn.btn-default(type="button", data-dismiss="modal")
  //-           span.glyphicon.glyphicon-remove
  //-           |  لا
      // /.modal-content
    // /.modal-dialog
  script(src='/js/jquery-2.1.1.min.js')
  script(src='/js/bootstrap.min.js')
  script(src='/js/bootstrap-select.min.js')
  script(src='/js/bootstrap-notify.min.js')
  script(src='/js/jquery.validate.min.js')
  script(src='/js/backToTop.js')
  script(src='/js/helpers.js')
  script(src='/js/Directors.js')
  script.
    $(document).ready(function(){
      $("[data-toggle=tooltip]").tooltip();
      $('.modal').on('hidden.bs.modal', function () {
        $("#formdpet").each(function(){
          $(this).validate().resetForm();
        });
      });
    });